name: Create GitHub Release

on:
  push:
    tags:
      - 'REL-*'

jobs:
  gh_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check for Prerelease
        id: check_prerelease
        run: |
          # Strip 'refs/tags/REL-' to get the version number
          VERSION=${GITHUB_REF#refs/tags/REL-}
          echo "Version extracted: $VERSION"
          
          # Check if version contains a hyphen (e.g., 1.0.0-rc.1)
          if [[ "$VERSION" == *"-"* ]]; then
            echo "Detected prerelease."
            echo "is_prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "Detected stable release."
            echo "is_prerelease=false" >> $GITHUB_OUTPUT
          fi

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          prerelease: ${{ steps.check_prerelease.outputs.is_prerelease }}
          make_latest: ${{ steps.check_prerelease.outputs.is_prerelease == 'false' }}
